fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
google-generativeai==0.8.3
python-dotenv
requests
httpx
boto3
python-docx
PyPDF2
PyMuPDF
numpy
pandas
packaging
psycopg2-binary
reportlab==3.6.12
Pillow
razorpay
openai
redis==5.0.1
aioredis
psycopg2-pool
psutil
posthog>=3.0.0

